In [11]:
#Aparência: sol, nublado, chuva
#Temperatura: -135 ~ 130 F
#Umidade: 0 ~ 100
#Jogar: sim/nao
#Tratar valores NAs

In [ ]:
#Declarando as libs
import pandas as pd
import statistics  as sts

In [89]:
#Importando os dados externos
dados = pd.read_csv("tempo.csv", sep=";")
#visualizar
dados.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [90]:
#Verificando Valores nulos
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [91]:
med_umidade = sts.median(dados['Umidade'])
med_umidade

85.5

In [92]:
#Substituindo NAN da coluna 'Umidade' por mediana
dados['Umidade'].fillna(med_umidade, inplace=True)

In [93]:
#Validando se foi substituído
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [94]:
##Substituindo NAN da coluna 'Vento' por moda
moda_vento = sts.mode(dados['Vento'])
moda_vento

'FALSO'

In [95]:
dados['Vento'].fillna(moda_vento, inplace=True)

In [96]:
#Validando se foi substituído
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [57]:
#Tratando valores não condizentes em 'Aparencia'
grupo = dados.groupby(['Aparencia']).size()
grupo

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [58]:
dados['Aparencia'].describe()

count        14
unique        4
top       chuva
freq          5
Name: Aparencia, dtype: object

In [60]:
dados.loc[dados['Aparencia'] ==  'menos', 'Aparencia'] = "chuva" #Trocando 'menos' por 'chuva', pois não existe a Aparencia 'menos'

In [61]:
grupo = dados.groupby(['Aparencia']).size()
grupo

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [62]:
#Verificando e tratando valores discrepantes de Temperatura, valores aceitáveis: -135 a 130 F
dados['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [64]:
media = sts.median(dados['Temperatura'])
media

73.5

In [73]:
dados.loc[(dados['Temperatura'] < -130)  |  (dados['Temperatura']  > 130)] = media    #subst valores pela média

In [72]:
dados.loc[(dados['Temperatura'] < -130)  |  (dados['Temperatura']  > 130)] #validando se não existe valor fora do intervalo

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [67]:
#Verificando e Trantando valores discrepantes de Umidade, valores aceitáveis: (0 a 100)
grupo = dados.groupby(['Umidade']).size()
grupo

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [75]:
media = sts.median(dados['Umidade'])
media

85.5

In [78]:
dados.loc[(dados['Umidade'] < 0)  |  (dados['Umidade'] > 100)] = media

In [79]:
dados.loc[(dados['Umidade'] < 0)  |  (dados['Umidade'] > 100)]     #Validando se foi substituído

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [81]:
#Verificando e Trantando incoerentes de 'Jogar', valores aceitáveis: sim/não
grupo= dados.groupby(['Jogar']).size()
grupo

Jogar
85.5    1
nao     5
sim     8
dtype: int64

In [87]:
dados.loc[dados['Jogar'].isin([85.5])] = "sim"     #Se a coluna o valor de Jogar for [85.5], então Jogar = "sim"

In [88]:
dados.loc[dados['Jogar'].isin([85.5])]       #Validando se foi substituído por 'sim'

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []